<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>CormorantGaramond-VariableFont_wght.ttf</string>
		<string>CormorantGaramond-Italic-VariableFont_wght.ttf</string>
	</array>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>SENSEI reads your calendar to know your schedule during morning check-ins.</string>
</dict>
</plist>
